body,
html {
  margin: 0 10px;
  padding: 0;
  background-color: #607d8b;
  font-family: "Segoe UI", Arial, sans-serif;
}

.titleContainer {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  font-size: 36px;
  color: #fff;
}

.resultWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  font-size: 32px;
  margin-right: 30px;
}

.resultRow {
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.buttonContainer {
  padding: 100px;
}

button {
  background-color: #fff;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 200px;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
  background-color: #fff;
  color: black;
}

.rock {
  background-color: #a9a9a9;
}

.paper {
  background-color: #008cba;
}

.scissors {
  background-color: #f44336;
}

.resetButton {
  background-color: #ffa500;
}

.emojiImage {
  height: 200px;
  margin-left: 30px;
}

.wrapper {
  height: 100vh;
}
